<h1> {{ title }}</h1>

<!-- <app-contador></app-contador>
<hr>
<app-heroes-hero></app-heroes-hero>
<hr>
<app-heroes-list></app-heroes-list>
<hr>
<app-test></app-test>
<hr>
<app-subtest></app-subtest>
<hr>
<app-test2></app-test2>
<hr>
<app-subtest-two></app-subtest-two>
<hr>
<app-test3></app-test3>
<hr>
<app-subtestthree></app-subtestthree>
<hr>
<app-test4></app-test4>
<hr>
<app-subtestfive></app-subtestfive>
<hr>
<app-subtestfour></app-subtestfour>
<hr>
<app-test5></app-test5> -->
<hr>
<app-dbz-main-page></app-dbz-main-page>
<hr>